/* General crescent background effect */
.background-shape {
    position: absolute;
    transform: translate(-50%, -50%); /* Center each shape */
    opacity: 0;
    width: 80px; /* Shape width */
    height: 80px; /* Shape height */
    background-color: var(--square-color, #71c28bd5); /* Color of the shape */
    z-index: -1; /* Ensure shapes are behind other content */
    animation: moveDownLoop 7s linear infinite, fadeInOutRotate 20s ease-in-out infinite; /*Apple both animations*/
}

/* Keyframes for fade-in, fade-out, rotate, and move down the screen */
@keyframes fadeInOutRotate {
    0% {
        opacity: 0;
        transform: scale(0.2) rotate(0deg) translate(-50%, -50%);
    }

    50% {
        opacity: 1;
        transform: scale(0.7) rotate(180deg) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(1.4) rotate(360deg) translate(-50%, -50%);
    }
}

/* Keyframes for moving the shape down the screen */
@keyframes moveDownLoop {
    0% {
        top: -10%;
    }
    100% {
        top: 120%; /* Move beyond the bottom of the screen */
    }
}

/* Randomized positions for the shapes */
.background-shape:nth-child(1) {
    left: -50%;
    animation-delay: 5s;
}

.background-shape:nth-child(2) {
    left: -11%;
    animation-delay: 1s;
}

.background-shape:nth-child(3) {
    left: 10%;
    down: -40%;
    animation-delay: 6s;
}

.background-shape:nth-child(4) {
    left: 17%;
    animation-delay: 2.4s;
}

.background-shape:nth-child(5) {
    left: 23%;
    animation-delay: 8.1s;
}

.background-shape:nth-child(6) {
    left: 35%;
    down: -50%;
    animation-delay: 4.4s;
}

.background-shape:nth-child(7) {
    left: 40%;
    animation-delay: 0.2s;
}

.background-shape:nth-child(8) {
    left: 45%;
    animation-delay: 3s;
}

.background-shape:nth-child(9) {
    left: 50%;
    down: 20%;
    animation-delay: 1.1s;
}

.background-shape:nth-child(10) {
    left: 57%;
    animation-delay: 5.6s;
}

.background-shape:nth-child(11) {
    left: 64%;
    animation-delay: 3.1s;
}

.background-shape:nth-child(12) {
    left: 72%;
    animation-delay: 1s;
}

.background-shape:nth-child(13) {
    left: 80%;
    down: -10%;
    animation-delay: 4.8s;
}

.background-shape:nth-child(14) {
    left: 90%;
    down: -50%;
    animation-delay: 9s;
}

.background-shape:nth-child(15) {
    left: 94%;
    down: -50%;
    animation-delay: 0.2s;
}

.background-shape:nth-child(1) {
    left: -60%;
    animation-delay: 1s;
}